In [14]:
import pandas as pd

ustat = pd.read_csv("ustat_2023.csv")
futbin = pd.read_csv("futbin_2023.csv")

In [15]:
ustat

,id,player_name,games,time,goals,xG,assists,xA,shots,key_passes,yellow_cards,red_cards,position,team_title,npg,npxG,xGChain,xGBuildup
0,8260,Erling Haaland,35,2803,36,32.761400,8,5.849110,123,29,5,0,F S,Manchester City,29,27.433210,31.963398,3.285816
1,647,Harry Kane,38,3414,30,23.064440,3,7.547408,133,57,6,0,F,Tottenham,25,18.497427,25.079118,5.095352
2,998,Ivan Toney,33,2960,20,21.691198,4,4.909893,94,26,9,0,F,Brentford,14,16.363019,18.110047,4.024586
3,1250,Mohamed Salah,38,3307,19,23.340064,12,8.720246,125,65,2,0,F M S,Liverpool,17,20.295388,32.544138,8.866783
4,468,Callum Wilson,31,1911,18,18.856768,5,3.567963,73,24,4,0,F S,Newcastle United,15,16.573260,15.517562,1.810891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2801,11550,Fallou Fall,1,30,0,0.000000,0,0.000000,0,0,1,0,S,Reims,0,0.000000,0.050157,0.050157
2802,11552,Ben Touré,4,207,0,0.035950,0,0.000000,2,0,0,0,F S,Ajaccio,0,0.035950,0.137821,0.101871
2803,11579,Amine Messoussa,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Lille,0,0.000000,0.000000,0.000000
2804,11613,Mamadou Diakhon,2,20,0,0.035987,0,0.000000,1,0,0,0,S,Reims,0,0.035987,0.035987,0.000000
2805,11623,Andréa Dacourt,1,1,0,0.000000,0,0.000000,0,0,0,0,S,Nice,0,0.000000,0.000000,0.000000

In [16]:
futbin

,name,pos,card_id,year,link,player_id,dob,club,club_id,league,...,jumping,stamina,strength,aggression,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning
0,Matias Viña,LWB,51930,23,/23/player/51930/matias-vina,253290,09-11-1997,AFC Bournemouth,1943,Premier League,...,77.0,81.0,65.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN
1,Kamaldeen Sulemana,LW,51890,23,/23/player/51890/kamaldeen-sulemana,256035,15-02-2002,Southampton,17,Premier League,...,77.0,70.0,60.0,52.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Albert Sambi Lokonga,CM,51875,23,/23/player/51875/albert-sambi-lokonga,241928,22-10-1999,Crystal Palace,1799,Premier League,...,71.0,79.0,63.0,72.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Cédric,RB,51870,23,/23/player/51870/cedric,201118,31-08-1991,Fulham,144,Premier League,...,72.0,66.0,57.0,75.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Anthony Gordon,LM,51855,23,/23/player/51855/anthony-gordon,242964,24-02-2001,Newcastle Utd,13,Premier League,...,58.0,75.0,56.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1340,Thomas Müller,CAM,26415,23,/23/player/26415/thomas-muller,189596,13-09-1989,FC Bayern,21,Bundesliga,...,77.0,86.0,66.0,62.0,NaN,NaN,NaN,NaN,NaN,NaN
1341,João Cancelo,LB,51852,23,/23/player/51852/joao-cancelo,210514,27-05-1994,FC Bayern,21,Bundesliga,...,72.0,91.0,62.0,76.0,NaN,NaN,NaN,NaN,NaN,NaN
1342,Joshua Kimmich,CDM,26274,23,/23/player/26274/joshua-kimmich,212622,08-02-1995,FC Bayern,21,Bundesliga,...,79.0,94.0,68.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN
1343,Sadio Mané,LM,26273,23,/23/player/26273/sadio-mane,208722,10-04-1992,FC Bayern,21,Bundesliga,...,87.0,85.0,72.0,75.0,NaN,NaN,NaN,NaN,NaN,NaN
1344,Manuel Neuer,GK,26270,23,/23/player/26270/manuel-neuer,167495,27-03-1986,FC Bayern,21,Bundesliga,...,NaN,NaN,NaN,NaN,87.0,88.0,91.0,88.0,56.0,60.0

In [17]:
futbin = futbin.rename(columns={"name": "player_name", "club": "team_title"})

In [18]:
comb = pd.merge(futbin, ustat, how ='right', on =['player_name', 'team_title'])

In [19]:
comb

,player_name,pos,card_id,year,link,player_id,dob,team_title,club_id,league,...,xA,shots,key_passes,yellow_cards,red_cards,position,npg,npxG,xGChain,xGBuildup
0,Erling Haaland,ST,26281.0,23.0,/23/player/26281/erling-haaland,239085.0,21-07-2000,Manchester City,10.0,Premier League,...,5.849110,123,29,5,0,F S,29,27.433210,31.963398,3.285816
1,Harry Kane,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,7.547408,133,57,6,0,F,25,18.497427,25.079118,5.095352
2,Ivan Toney,ST,27279.0,23.0,/23/player/27279/ivan-toney,212228.0,16-03-1996,Brentford,1925.0,Premier League,...,4.909893,94,26,9,0,F,14,16.363019,18.110047,4.024586
3,Mohamed Salah,RW,26266.0,23.0,/23/player/26266/mohamed-salah,209331.0,15-06-1992,Liverpool,9.0,Premier League,...,8.720246,125,65,2,0,F M S,17,20.295388,32.544138,8.866783
4,Callum Wilson,NaN,NaN,NaN,NaN,NaN,NaN,Newcastle United,NaN,NaN,...,3.567963,73,24,4,0,F S,15,16.573260,15.517562,1.810891
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2801,Fallou Fall,NaN,NaN,NaN,NaN,NaN,NaN,Reims,NaN,NaN,...,0.000000,0,0,1,0,S,0,0.000000,0.050157,0.050157
2802,Ben Touré,NaN,NaN,NaN,NaN,NaN,NaN,Ajaccio,NaN,NaN,...,0.000000,2,0,0,0,F S,0,0.035950,0.137821,0.101871
2803,Amine Messoussa,NaN,NaN,NaN,NaN,NaN,NaN,Lille,NaN,NaN,...,0.000000,0,0,0,0,S,0,0.000000,0.000000,0.000000
2804,Mamadou Diakhon,NaN,NaN,NaN,NaN,NaN,NaN,Reims,NaN,NaN,...,0.000000,1,0,0,0,S,0,0.035987,0.035987,0.000000
2805,Andréa Dacourt,NaN,NaN,NaN,NaN,NaN,NaN,Nice,NaN,NaN,...,0.000000,0,0,0,0,S,0,0.000000,0.000000,0.000000

In [20]:
len(comb.player_name.unique())

2715

In [21]:
comb.link.isna().sum()

2440

In [22]:
clean = comb[comb['link'].notna()]

In [23]:
clean

,player_name,pos,card_id,year,link,player_id,dob,team_title,club_id,league,...,xA,shots,key_passes,yellow_cards,red_cards,position,npg,npxG,xGChain,xGBuildup
0,Erling Haaland,ST,26281.0,23.0,/23/player/26281/erling-haaland,239085.0,21-07-2000,Manchester City,10.0,Premier League,...,5.849110,123,29,5,0,F S,29,27.433210,31.963398,3.285816
2,Ivan Toney,ST,27279.0,23.0,/23/player/27279/ivan-toney,212228.0,16-03-1996,Brentford,1925.0,Premier League,...,4.909893,94,26,9,0,F,14,16.363019,18.110047,4.024586
3,Mohamed Salah,RW,26266.0,23.0,/23/player/26266/mohamed-salah,209331.0,15-06-1992,Liverpool,9.0,Premier League,...,8.720246,125,65,2,0,F M S,17,20.295388,32.544138,8.866783
7,Gabriel Martinelli,LM,26410.0,23.0,/23/player/26410/gabriel-martinelli,251566.0,18-06-2001,Arsenal,1.0,Premier League,...,9.349485,79,59,3,0,F M S,15,10.538134,25.150875,9.320917
8,Ollie Watkins,ST,27142.0,23.0,/23/player/27142/ollie-watkins,221697.0,30-12-1995,Aston Villa,2.0,Premier League,...,3.674034,85,30,4,0,F M S,14,15.963957,22.162564,5.435316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625,Adrien Truffert,LB,36531.0,23.0,/23/player/36531/adrien-truffert,256769.0,20-11-2001,Rennes,74.0,Ligue 1,...,1.704231,10,21,1,0,D S,0,0.452815,9.272314,7.677103
2631,Birger Meling,LB,30769.0,23.0,/23/player/30769/birger-meling,219466.0,17-12-1994,Rennes,74.0,Ligue 1,...,1.207757,0,7,3,1,D S,0,0.000000,8.321724,7.689841
2637,Jonas Omlin,GK,27066.0,23.0,/23/player/27066/jonas-omlin,223550.0,10-01-1994,Montpellier,70.0,Ligue 1,...,0.000000,0,0,1,1,GK,0,0.000000,0.810361,0.810361
2650,Warmed Omari,CB,26322.0,23.0,/23/player/26322/warmed-omari,256854.0,23-04-2000,Rennes,74.0,Ligue 1,...,0.274480,3,5,2,1,D S,0,0.558884,6.389019,6.320380
2713,Djed Spence,RWB,51861.0,23.0,/23/player/51861/djed-spence,243702.0,09-08-2000,Rennes,74.0,Ligue 1,...,0.122169,3,2,0,0,D S,0,0.490715,1.863509,1.352197

In [25]:
dirty = comb[comb['link'].isna()]

In [26]:
dirty

,player_name,pos,card_id,year,link,player_id,dob,team_title,club_id,league,...,xA,shots,key_passes,yellow_cards,red_cards,position,npg,npxG,xGChain,xGBuildup
1,Harry Kane,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,7.547408,133,57,6,0,F,25,18.497427,25.079118,5.095352
4,Callum Wilson,NaN,NaN,NaN,NaN,NaN,NaN,Newcastle United,NaN,NaN,...,3.567963,73,24,4,0,F S,15,16.573260,15.517562,1.810891
5,Marcus Rashford,NaN,NaN,NaN,NaN,NaN,NaN,Manchester United,NaN,NaN,...,3.735413,108,31,2,0,F M S,17,18.761761,30.331114,9.589746
6,Martin Odegaard,NaN,NaN,NaN,NaN,NaN,NaN,Arsenal,NaN,NaN,...,9.209957,93,77,4,0,M,15,9.137761,27.893760,15.047104
9,Aleksandar Mitrovic,NaN,NaN,NaN,NaN,NaN,NaN,Fulham,NaN,NaN,...,2.334498,93,15,7,0,F S,10,10.089664,11.802806,2.575260
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2801,Fallou Fall,NaN,NaN,NaN,NaN,NaN,NaN,Reims,NaN,NaN,...,0.000000,0,0,1,0,S,0,0.000000,0.050157,0.050157
2802,Ben Touré,NaN,NaN,NaN,NaN,NaN,NaN,Ajaccio,NaN,NaN,...,0.000000,2,0,0,0,F S,0,0.035950,0.137821,0.101871
2803,Amine Messoussa,NaN,NaN,NaN,NaN,NaN,NaN,Lille,NaN,NaN,...,0.000000,0,0,0,0,S,0,0.000000,0.000000,0.000000
2804,Mamadou Diakhon,NaN,NaN,NaN,NaN,NaN,NaN,Reims,NaN,NaN,...,0.000000,1,0,0,0,S,0,0.035987,0.035987,0.000000
2805,Andréa Dacourt,NaN,NaN,NaN,NaN,NaN,NaN,Nice,NaN,NaN,...,0.000000,0,0,0,0,S,0,0.000000,0.000000,0.000000

In [28]:
clean[clean['team_title'] == 'Tottenham']

Empty DataFrame
Columns: [player_name, pos, card_id, year, link, player_id, dob, team_title, club_id, league, league_id, nation, rating, pac, acceleration, sprint_speed, sho, positioning, finishing, shot_power, long_shots, volleys, penalties, pas, vision, crossing, fk_accuracy, short_passing, long_passing, curve, dri, agility, balance, reactions, ball_control, dribbling, composure, def, interceptions, heading_acc, def_awareness, standing_tackle, sliding_tackle, phy, jumping, stamina, strength, aggression, gk_diving, gk_handling, gk_kicking, gk_reflexes, gk_speed, gk_positioning, id, games, time, goals, xG, assists, xA, shots, key_passes, yellow_cards, red_cards, position, npg, npxG, xGChain, xGBuildup]
Index: []

[0 rows x 70 columns]

In [29]:
dirty[dirty['team_title'] == 'Tottenham']

,player_name,pos,card_id,year,link,player_id,dob,team_title,club_id,league,...,xA,shots,key_passes,yellow_cards,red_cards,position,npg,npxG,xGChain,xGBuildup
1,Harry Kane,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,7.547408,133,57,6,0,F,25,18.497427,25.079118,5.095352
17,Son Heung-Min,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,6.334341,81,62,2,0,F M S,10,9.597895,17.621333,5.954912
66,Rodrigo Bentancur,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,0.644339,15,11,8,0,M S,5,2.436944,8.615036,6.708776
75,Pierre-Emile Højbjerg,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,3.199280,33,30,5,0,M,4,1.529552,15.636594,11.950626
114,Pedro Porro,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,2.532236,25,25,0,0,D M S,3,1.397329,5.918121,2.848249
129,Eric Dier,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,1.620458,17,7,4,0,D S,2,1.471598,11.746884,11.003168
130,Ben Davies,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,2.469029,14,20,4,0,D S,2,0.993374,8.732750,7.629148
148,Dejan Kulusevski,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,5.482721,43,47,2,0,F M S,2,2.610296,9.842267,4.000389
151,Ryan Sessegnon,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,1.040791,18,6,4,0,D S,2,2.117515,4.331894,2.043996
157,Emerson,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,0.483959,17,9,2,1,D S,2,1.745307,7.781626,5.672533
174,Ivan Perisic,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,6.623175,29,48,6,0,D F S,1,3.017115,9.894331,6.034055
207,Lucas Moura,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,0.231135,4,4,0,1,S,1,0.737893,1.080589,0.383966
219,Richarlison,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,1.740895,27,16,3,0,F M S,1,3.516936,5.353842,1.591880
228,Matt Doherty,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,0.288116,10,6,0,0,D S,1,0.872618,2.749406,1.965785
234,Oliver Skipp,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,0.542324,7,10,7,0,M S,1,0.207909,5.209486,4.576618
242,Arnaut Danjuma Groeneveld,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,0.027466,6,1,0,0,M S,1,0.623415,1.085427,0.462012
291,Hugo Lloris,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,0.000000,0,0,0,0,GK,0,0.000000,4.237263,4.237263
312,Fraser Forster,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,0.000000,0,0,1,0,GK S,0,0.000000,1.616346,1.616346
354,Clement Lenglet,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,0.707438,13,6,3,0,D S,0,0.960752,8.319994,8.151936
364,Yves Bissouma,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,0.440051,6,8,6,0,M S,0,0.129460,4.439509,4.140980
378,Davinson Sánchez,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,0.140836,6,2,1,0,D S,0,0.304233,2.792353,2.643001
403,Cristian Romero,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,0.888404,11,8,9,1,D S,0,0.859663,11.603164,11.202729
411,Bryan Gil Salvatierra,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,0.273480,2,2,1,0,F M S,0,0.072466,0.900437,0.554492
434,Japhet Tanganga,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,0.000000,0,0,0,0,D S,0,0.000000,0.058575,0.058575
438,Harvey White,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,0.000000,0,0,0,0,S,0,0.000000,0.000000,0.000000
457,Pape Sarr,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,0.566042,2,2,1,0,M S,0,0.056256,1.861207,1.253950
494,Matthew Craig,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,0.000000,0,0,0,0,S,0,0.000000,0.000000,0.000000
508,Djed Spence,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,0.000000,1,0,0,0,S,0,0.114108,0.114108,0.000000
548,George Abbott,NaN,NaN,NaN,NaN,NaN,NaN,Tottenham,NaN,NaN,...,0.000000,0,0,0,0,S,0,0.000000,0.000000,0.000000

In [33]:
bad_clubs = dirty['team_title'].unique()
bad_clubs

array(['Tottenham', 'Newcastle United', 'Manchester United', 'Arsenal',
       'Fulham', 'Leeds', 'Leicester', 'Nottingham Forest',
       'Aston Villa,West Ham', 'Arsenal,Brighton', 'Bournemouth',
       'Brighton', 'West Ham', 'Wolverhampton Wanderers',
       'Nottingham Forest,Wolverhampton Wanderers', 'Brentford',
       'Southampton', 'Everton,Newcastle United',
       'Newcastle United,Nottingham Forest', 'Arsenal,Chelsea',
       'Fulham,Leeds', 'Liverpool', 'Chelsea', 'Aston Villa',
       'Crystal Palace', 'Everton', 'West Ham,Wolverhampton Wanderers',
       'Chelsea,Leicester', 'Arsenal,Fulham', 'Bournemouth,Southampton',
       'Aston Villa,Southampton', 'Manchester City',
       'Aston Villa,Wolverhampton Wanderers', 'Arsenal,Crystal Palace',
       'Barcelona', 'Espanyol', 'Atletico Madrid', 'Mallorca', 'Getafe',
       'Girona', 'Celta Vigo', 'Villarreal', 'Athletic Club',
       'Real Sociedad', 'Rayo Vallecano', 'Osasuna', 'Sevilla',
       'Real Valladolid', 'Elche', 'Almeria', 'Valencia',
       'Atletico Madrid,Barcelona', 'Real Madrid', 'Almeria,Espanyol',
       'Cadiz', 'Real Betis', 'Almeria,Real Sociedad',
       'Cadiz,Real Valladolid', 'Elche,Sevilla', 'Cadiz,Elche',
       'Mallorca,Villarreal', 'Girona,Real Valladolid',
       'Girona,Villarreal', 'Elche,Villarreal', 'Elche,Rayo Vallecano',
       'RasenBallsport Leipzig', 'Freiburg', 'Eintracht Frankfurt',
       'Bayern Munich', 'Borussia M.Gladbach', 'Hoffenheim',
       'VfB Stuttgart', 'Hertha Berlin', 'Schalke 04', 'Mainz 05',
       'Borussia Dortmund', 'Bayer Leverkusen', 'Augsburg',
       'Union Berlin', 'Bochum', 'FC Cologne', 'Wolfsburg',
       'FC Cologne,Hertha Berlin', 'Augsburg,Hertha Berlin',
       'Werder Bremen', 'Bochum,Freiburg', 'Werder Bremen,Wolfsburg',
       'Borussia Dortmund,Union Berlin', 'Schalke 04,Union Berlin',
       'Union Berlin,VfB Stuttgart', 'Bayern Munich,Borussia M.Gladbach',
       'Union Berlin,Wolfsburg', 'AC Milan', 'Atalanta', 'Spezia',
       'Lazio', 'Roma', 'Napoli', 'Bologna', 'Juventus', 'Inter',
       'Cremonese', 'Lecce', 'Sassuolo', 'Empoli,Sampdoria', 'Empoli',
       'Monza', 'Verona', 'Torino', 'Udinese', 'Fiorentina', 'Sampdoria',
       'Salernitana', 'Sampdoria,Verona', 'Fiorentina,Verona',
       'Empoli,Verona', 'Napoli,Sassuolo', 'Torino,Verona',
       'Empoli,Sassuolo', 'Napoli,Sampdoria', 'Bologna,Empoli',
       'Roma,Spezia', 'Juventus,Monza', 'Bologna,Sassuolo',
       'Atalanta,Sassuolo', 'Cremonese,Fiorentina', 'Cremonese,Sampdoria',
       'Fiorentina,Napoli', 'Sampdoria,Udinese', 'Sampdoria,Torino',
       'Fiorentina,Spezia', 'Atalanta,Udinese', 'Fiorentina,Lecce',
       'Paris Saint Germain', 'Lyon', 'Lille', 'Reims', 'Lens', 'Monaco',
       'Montpellier', 'Lorient,Nice', 'Nice,Rennes', 'Marseille',
       'Troyes', 'Toulouse', 'Strasbourg', 'Clermont Foot', 'Brest',
       'Nantes', 'Lyon,Rennes', 'Rennes', 'Lorient', 'Auxerre',
       'Nantes,Nice', 'Nice', 'Ajaccio,Brest', 'Ajaccio',
       'Lens,Strasbourg', 'Lens,Nice', 'Lens,Nantes', 'Lorient,Lyon',
       'Angers', 'Lorient,Marseille', 'Auxerre,Rennes', 'Monaco,Nice',
       'Montpellier,Toulouse', 'Angers,Marseille', 'Auxerre,Lille',
       'Auxerre,Marseille', 'Lyon,Troyes', 'Lorient,Monaco',
       'Lens,Rennes', 'Brest,Reims'], dtype=object)

In [34]:
actual = []
for i in bad_clubs:
    if not ',' in i:
        actual.append(i)

actual

['Tottenham',
 'Newcastle United',
 'Manchester United',
 'Arsenal',
 'Fulham',
 'Leeds',
 'Leicester',
 'Nottingham Forest',
 'Bournemouth',
 'Brighton',
 'West Ham',
 'Wolverhampton Wanderers',
 'Brentford',
 'Southampton',
 'Liverpool',
 'Chelsea',
 'Aston Villa',
 'Crystal Palace',
 'Everton',
 'Manchester City',
 'Barcelona',
 'Espanyol',
 'Atletico Madrid',
 'Mallorca',
 'Getafe',
 'Girona',
 'Celta Vigo',
 'Villarreal',
 'Athletic Club',
 'Real Sociedad',
 'Rayo Vallecano',
 'Osasuna',
 'Sevilla',
 'Real Valladolid',
 'Elche',
 'Almeria',
 'Valencia',
 'Real Madrid',
 'Cadiz',
 'Real Betis',
 'RasenBallsport Leipzig',
 'Freiburg',
 'Eintracht Frankfurt',
 'Bayern Munich',
 'Borussia M.Gladbach',
 'Hoffenheim',
 'VfB Stuttgart',
 'Hertha Berlin',
 'Schalke 04',
 'Mainz 05',
 'Borussia Dortmund',
 'Bayer Leverkusen',
 'Augsburg',
 'Union Berlin',
 'Bochum',
 'FC Cologne',
 'Wolfsburg',
 'Werder Bremen',
 'AC Milan',
 'Atalanta',
 'Spezia',
 'Lazio',
 'Roma',
 'Napoli',
 'Bologna',
 'Juventus',
 'Inter',
 'Cremonese',
 'Lecce',
 'Sassuolo',
 'Empoli',
 'Monza',
 'Verona',
 'Torino',
 'Udinese',
 'Fiorentina',
 'Sampdoria',
 'Salernitana',
 'Paris Saint Germain',
 'Lyon',
 'Lille',
 'Reims',
 'Lens',
 'Monaco',
 'Montpellier',
 'Marseille',
 'Troyes',
 'Toulouse',
 'Strasbourg',
 'Clermont Foot',
 'Brest',
 'Nantes',
 'Rennes',
 'Lorient',
 'Auxerre',
 'Nice',
 'Ajaccio',
 'Angers']

In [35]:
futbin['team_title'].unique()

array(['AFC Bournemouth', 'Southampton', 'Crystal Palace', 'Fulham',
       'Newcastle Utd', "Nott'm Forest", 'Wolves', 'Leeds United',
       'Chelsea', 'Leicester City', 'Brentford', 'Brighton', 'Arsenal',
       'Spurs', 'Everton', 'Aston Villa',
       '\r\n                                           Controlled                                       ',
       'Liverpool', 'West Ham', 'Manchester Utd', 'Manchester City',
       'Valencia CF', 'UD Almería', 'RCD Mallorca', 'Girona FC',
       'Cádiz CF', 'CA Osasuna', 'Real Sociedad', 'Rayo Vallecano',
       'R. Valladolid CF', 'RC Celta', 'Elche CF', 'RCD Espanyol',
       'Athletic Club', 'Getafe CF', 'Real Betis', 'Real Madrid',
       'Sevilla FC', 'FC Barcelona', 'Atlético de Madrid',
       'Villarreal CF', 'La Spezia', 'Sampdoria', 'AC Monza', 'Lecce',
       'Empoli', 'Salernitana', 'Cremonese', 'Hellas Verona', 'Roma FC',
       'Fiorentina', 'SS Lazio', 'Udinese', 'Milan', 'Torino', 'Sassuolo',
       'Atalanta BC', 'Bologna', 'Inter', 'Juventus', 'Napoli',
       'Stade Brestois 29', 'LOSC', 'Rennes', 'FC Nantes', 'AS Monaco',
       'OGC Nice', 'FC Lorient', 'RC Lens', 'OM', 'Strasbourg', 'Troyes',
       'Stade de Reims', 'Montpellier', 'AJ Auxerre', 'OL', 'AC Ajaccio',
       'Angers SCO', 'Clermont', 'Paris SG', 'FC Schalke 04',
       'Union Berlin', 'VfL Bochum', 'Frankfurt', 'Dortmund',
       'Leverkusen', 'Werder Bremen', 'FC Augsburg', '1. FSV Mainz 05',
       'TSG Hoffenheim', 'SC Freiburg', '1. FC Köln', 'FC Bayern',
       'Hertha Berlin', "M'gladbach", 'VfB Stuttgart', 'VfL Wolfsburg',
       'RB Leipzig'], dtype=object)

In [36]:
futbin[futbin['team_title'] == '\r\n                                           Controlled                                       ']

,player_name,pos,card_id,year,link,player_id,dob,team_title,club_id,league,...,jumping,stamina,strength,aggression,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning
67,Jan Bednarek,CB,51887,23,/23/player/51887/jan-bednarek,220570,12-04-1996,\r\n ...,17,Poland,...,81.0,69.0,82.0,79.0,NaN,NaN,NaN,NaN,NaN,NaN
73,Jan Bednarek,CB,38030,23,/23/player/38030/jan-bednarek,220570,12-04-1996,\r\n ...,2,Poland,...,81.0,69.0,82.0,79.0,NaN,NaN,NaN,NaN,NaN,NaN
241,Martin Dúbravka,GK,50720,23,/23/player/50720/martin-dubravka,220407,15-01-1989,\r\n ...,13,Slovakia,...,NaN,NaN,NaN,NaN,78.0,76.0,79.0,81.0,46.0,44.0
248,Martin Dúbravka,GK,26974,23,/23/player/26974/martin-dubravka,220407,15-01-1989,\r\n ...,11,Slovakia,...,NaN,NaN,NaN,NaN,78.0,76.0,79.0,81.0,46.0,44.0
598,Lucas Ocampos,LW,51264,23,/23/player/51264/lucas-ocampos,205632,11-07-1994,\r\n ...,481,Argentina,...,80.0,90.0,81.0,81.0,NaN,NaN,NaN,NaN,NaN,NaN